<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsinpaul.morseSecret" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".EditPageFragment"
            android:label="@string/morseEdit"
            android:parentActivityName="com.example.hsinpaul.morsecheater.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hsinpaul.morsecheater.Home" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.example.hsinpaul.morsecheater.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hsinpaul.morsecheater.Home" />
        </activity>

    </application>

</manifest>
